.navbar {
    background-color: white;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
a {
    color: rgb(215, 41, 41);
}

.navbar_list {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
}
