.cart {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.cart_totals {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cart_btn {
    background-color:  #f85555;
    border-radius: 8px;
    border: none;
}
