.homepage_filters {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.homepage_filtername {
    display: flex;
}

.homepage_filter-btn {
    background-color:  #f85555;
    border-color:  #f85555;
    border-radius: 20px
}

.homepage_btn::before {
    content: 'Dark';
}

.dark .homepage_btn::before {
    content: 'Ligth';
}

.homepage_container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}
